@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    @apply text-4xl font-black;
}

h2 {
    @apply text-3xl font-extrabold;
}

h3 {
    @apply text-2xl font-bold;
}

h4 {
    @apply text-xl font-semibold;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.arrow-fill path {
    @apply group-hover:fill-emperor-100 transition-colors;
}

.background-image-common {
    @apply w-full sm:w-[22.5rem] h-[46.5625rem] object-center object-cover sm:rounded-2xl;
}

.background-images-gradient-fade {
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0.00) 52.60%, #1A1A1A 100%);
}

.circle1 {
    background: linear-gradient(270deg, rgba(141, 203, 236, 0.20) 0%, rgba(141, 203, 236, 0.00) 100%);
}

.circle2 {
    background: linear-gradient(270deg, rgba(177, 141, 236, 0.20) 0%, rgba(177, 141, 236, 0.00) 100%);
}

.circle3 {
    background: linear-gradient(270deg, rgba(236, 158, 141, 0.20) 0%, rgba(236, 158, 141, 0.00) 100%);
}

.circle4 {
    background: linear-gradient(270deg, rgba(143, 236, 141, 0.20) 0%, rgba(143, 236, 141, 0.00) 100%);
}

.gradient-text {
    font-weight: 800;
    background: -webkit-linear-gradient(225deg, rgba(23, 96, 141, 1) 0%, rgba(41, 151, 206, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing-background-image {
    background: radial-gradient(43.04% 37.96% at 46.98% 37.63%, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 83.33%), linear-gradient(0deg, rgba(26, 26, 26, 0.20) 0%, rgba(26, 26, 26, 0.20) 100%), url('../../public/images/pricing-background.webp'), lightgray 50% / cover no-repeat;
}

.markdown {
    @apply font-open-sans;
}

.markdown img {
    @apply rounded-lg shadow-lg;
}

